*{
    margin: 0;
    padding: 0;
}
table,
tbody, th,
td {
    border: 2px solid teal;
    border-color: #D8D9DA;
    background-color: #D6EFED;
    gap: 20px;
    font-size: 12px;
    align-items: center;
    text-align: center;

}
table{
    width: 100%;
    border-collapse: collapse;

}
th{
  background-color:#D6EFED;

}
